{"swagger":"2.0","info":{"version":"0.2","title":"MOKA API","description":"MokaPOS core API documentation written in swagger-2.0 specification","termsOfService":"https://www.mokapos.com/privacy","contact":{"name":"MokaPOS API Team"},"license":{"name":"MokaPOS"},"x-logo":{"url":"https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/logo-moka-v2.png"}},"host":"api.mokapos.com","basePath":"","consumes":["application/json"],"produces":["application/json"],"tags":[{"name":"Types of Moka Apps","description":"\u003cp\u003eMoka APIs let developers to create applications for various integration. Depending on the purpose of your app, it can be considered as a public or private app. The definition of each can be seen below:\u003c/p\u003e \u003cul\u003e \u003cli\u003e\u003cb\u003ePublic apps\u003c/b\u003e are meant for developers who want to distribute their applications to many merchants of Moka\u003c/li\u003e \u003cli\u003e\u003cb\u003ePrivate apps\u003c/b\u003e are meant for developers who want to build an integration specifically for a certain merchant or for personal use\u003c/li\u003e \u003c/ul\u003e \u003cp\u003eThere are several differences between public and private apps:\u003c/p\u003e \u003ctable\u003e \u003ctr\u003e \u003cth\u003e\u003c/th\u003e \u003cth\u003ePublic Apps\u003c/th\u003e \u003cth\u003ePrivate Apps\u003c/th\u003e \u003c/tr\u003e \u003ctr\u003e \u003ctd\u003eVisibility in AppMarketplace\u003c/td\u003e \u003ctd\u003eVisible\u003c/td\u003e \u003ctd\u003eNot Visible\u003c/td\u003e \u003c/tr\u003e \u003ctr\u003e \u003ctd\u003eStatus in Developer Dashboard\u003c/td\u003e \u003ctd\u003ePublished\u003c/td\u003e \u003ctd\u003eIn Review\u003c/td\u003e \u003c/tr\u003e \u003c/table\u003e \u003cp\u003e\u003cb\u003eNote:\u003c/b\u003e\u003c/p\u003e \u003cul\u003e \u003cli\u003eThe status \u003ccode\u003eIn Review\u003c/code\u003e still allow developers to use the application and it will still functionally working as expected\u003c/li\u003e \u003cli\u003eIf you want to make your application visible in AppMarketplace, please contact Moka directly by emailing to support@mokapos.com\u003c/li\u003e \u003c/ul\u003e"},{"name":"Authentication","description":"\u003ch2\u003eaccess_token\u003c/h2\u003e\n\u003cp\u003eAccess token for doing API request\u003c/p\u003e\n\u003ctable class=\"security-details\"\u003e\n  \u003ctbody\u003e\n    \u003ctr\u003e\n      \u003cth\u003e Security scheme type: \u003c/th\u003e\n      \u003ctd\u003e OAuth2 \u003c/td\u003e\n    \u003c/tr\u003e\n    \u003ctr\u003e\n      \u003cth\u003e implicit OAuth Flow \u003c/th\u003e\n      \u003ctd\u003e\n        \u003cdiv\u003e\n          \u003cstrong\u003e Authorization URL: \u003c/strong\u003e/oauth/authorize\n        \u003c/div\u003e\n        \u003cdiv\u003e\n          \u003cstrong\u003e Scopes: \u003c/strong\u003e\n        \u003c/div\u003e\n        \u003cul\u003e\n          \u003cli\u003e\n            \u003ccode\u003ecustomer\u003c/code\u003e - Access merchant customers\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003elibrary\u003c/code\u003e - Access merchant library\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003eprofile\u003c/code\u003e - Access merchant profile\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003ereport\u003c/code\u003e - Access merchant reports\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003etransaction\u003c/code\u003e - Access merchant transaction\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003echeckout\u003c/code\u003e - Create checkout\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003echeckout_api\u003c/code\u003e - Forward orders to Moka app\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003esales_type\u003c/code\u003e - Create/Modify advanced orderings sales type for an outlet.\n          \u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n    \u003c/tr\u003e\n  \u003c/tbody\u003e\n  \u003c/table\u003e\n"},{"name":"Changelog","description":"\u003cp\u003eThese logs document the changes in Moka APIs including the supplemental and versioned changes. \u003c/p\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eChangelog history\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e22-06-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eRemove usage of below fields for following API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET getEventsV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST createSubscriptionV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET getSubscriptionsV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePATCH updateSubscriptionV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eDELETE deleteSubscriptionV1 API\u003c/p\u003e\u003c/li\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e03-02-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Summaries API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/listItemSummariesV1\"\u003elistItemSummariesV1\u003c/a\u003e Add more explanation and detailed description regarding the API\n\u003c/ul\u003e\n\u003ch3\u003eLatest Transasction API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/showLatestTransactionsV3\"\u003eshowLatestTransactionsV3\u003c/a\u003e Add attributes \u003ccode\u003eexclude_bundle(bool)\u003c/code\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e16-01-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Library API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadPOSImageV1\"\u003euploadPOSImageV1\u003c/a\u003e Add 422 case error example.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadEcommerceImageV1\"\u003euploadEcommerceImageV1\u003c/a\u003e Add 422 case error example.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eDELETE \u003ca href=\"#operation/deleteItemV1\"\u003edeleteItemV1\u003c/a\u003e Add handling and example for 422 error.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003e Add ecommerce related attribute to GET \u003ca href=\"#operation/listItemsV1\"\u003elistItemsV1\u003c/a\u003e.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e11-01-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Adjusment API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eRemove attribute \u003ccode\u003ein_stock (string)\u003c/code\u003e for POST \u003ca href=\"#operation/createItemAdjustmentV1\"\u003ecreateItemAdjustmentV1\u003c/a\u003e.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e02-01-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Library API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadPOSImageV1\"\u003euploadPOSImageV1\u003c/a\u003e The uploadPOSImageV1 API has been introduced to create items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadEcommerceImageV1\"\u003euploadEcommerceImageV1\u003c/a\u003e The uploadEcommerceImageV1 API has been introduced to create items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/createItemV1\"\u003ecreateItemV1\u003c/a\u003e: Add attribute image on create item for POS item image creation.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e07-12-2022\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Library API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/createItemV1\"\u003ecreateItemV1\u003c/a\u003e The createItemV1 API has been introduced to create items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePUT \u003ca href=\"#operation/updateItemV1\"\u003eupdateItemV1\u003c/a\u003e The updateItemV1 API has been introduced to update items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eDELETE \u003ca href=\"#operation/deleteItemV1\"\u003edeleteItemV1\u003c/a\u003e The deleteItemV1 API has been introduced to delete items in MOKA library.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e22-11-2022\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eAdvanced Ordering Description: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003eChange the status on order cancel by cashier from \"cancelled\" to \"rejected\"\u003c/li\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e01-11-2022\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eReport Invoice Detail V2 API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoiceDetailV2\"\u003ereportInvoiceDetailV2\u003c/a\u003e API can be query by \n  \u003ccode\u003einvoice_id (string)\u003c/code\u003e\u003c/p\u003e\u003c/li\u003e\n\u003c/ul\u003e\n\u003cbr\u003e\n\u003ch3\u003eDeprecate usage of below fields for following API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoicesV2\"\u003ereportInvoicesV2\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoiceDetailV2\"\u003ereportInvoiceDetailV2\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n   \u003ctable\u003e\n      \u003ctr\u003e\n        \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n        \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n      \u003c/tr\u003e\n      \u003ctbody\u003e\n        \u003ctr\u003e\n          \u003ctd\u003e\n            \u003cul\u003e\n              \u003cli\u003e\u003ccode\u003edata.id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.parent_payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003c/ul\u003e\n          \u003c/td\u003e\n          \u003ctd\u003e\n            \u003cul\u003e\n              \u003cli\u003e\u003ccode\u003edata.uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003c/ul\u003e\n          \u003c/td\u003e\n        \u003c/tr\u003e\n      \u003c/tbody\u003e\n    \u003c/table\u003e \n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/showLatestTransactionsV2\"\u003eshowLatestTransactionsV2\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].payment_promo_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].payment_promo_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].payment_promo_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].payment_promo_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/createCheckoutV1\"\u003ecreateCheckoutV1\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.uuid\u0026nbsp;\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoicesV3\"\u003ereportInvoicesV3\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n\u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoiceDetailV3\"\u003ereportInvoiceDetailV3\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n\u003ctable\u003e\n  \u003ctr\u003e\n    \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n    \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n  \u003c/tr\u003e\n  \u003ctbody\u003e\n    \u003ctr\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n    \u003c/tr\u003e\n  \u003c/tbody\u003e\n\u003c/table\u003e\n\u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/showLatestTransactionsV3\"\u003eshowLatestTransactionsV3\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n\u003ctable\u003e\n  \u003ctr\u003e\n    \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n    \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n  \u003c/tr\u003e\n  \u003ctbody\u003e\n    \u003ctr\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n    \u003c/tr\u003e\n  \u003c/tbody\u003e\n\u003c/table\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e20-09-2021\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eShifts API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003eThe entire Shifts API has been removed.\u003c/li\u003e\n\u003c/ul\u003e\n\u003ch3\u003eSalesType API\u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003eThe \u003ca href=\"#operation/createSalesType\"\u003ecreateSalesType\u003c/a\u003e API has been introduced to create new sales type.\u003c/li\u003e\n\u003c/ul\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e24-06-2020\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003e Subscription API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/getEventsV1\"\u003egetEventsV1\u003c/a\u003e API has been introduced to retrieve events available in MOKA. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/getSubscriptionsV1\"\u003egetSubscriptionsV1\u003c/a\u003e API has been introduced to retrieve the subscriptions which you registered. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/createSubscriptionV1\"\u003ecreateSubscriptionV1\u003c/a\u003e API has been introduced to subscribe to an event. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/updateSubscriptionV1\"\u003eupdateSubscriptionV1\u003c/a\u003e API has been introduced to update the subscriptions which you registered. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/deleteSubscriptionV1\"\u003edeleteSubscriptionV1\u003c/a\u003e API has been introduced to destroy the subscriptions which you registered. \u003c/p\u003e\u003c/li\u003e\n\u003c/ul\u003e\n"},{"name":"Loyalties","description":"\u003cp\u003eLoyalty Program is related to business.\u003c/p\u003e\n\u003cp\u003eThese are the terminology of loyalty\u003c/p\u003e\n\u003cp\u003e\n  \u003cb\u003eCustomer and Merchant\u003c/b\u003e\n  \u003cp\u003eMerchant is the owner of a business, and a user of Moka App. Customer will do transactions to merchant. There are 2 kind of customers, loyalty and non-loyalty.\u003c/p\u003e\n  \u003cp\u003eA loyalty customer must have phone number\u003c/p\u003e\n\u003c/p\u003e\n\u003cp\u003e\n  \u003cb\u003eProgram\u003c/b\u003e\n\u003c/p\u003e\n\u003cp\u003eWhen a merchant create a loyalty, he needs to first create a program. Currently we support 2 programs\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003eGain points from money you spent (Rp/IDR amount)\u003c/li\u003e\n  \u003cli\u003eGain points from item you bought\u003c/li\u003e\n\u003c/ol\u003e\n\u003cp\u003e\n  \u003cb\u003eProgram Rules/Earning Rules\u003c/b\u003e\n\u003c/p\u003e\n\u003cp\u003eThis is how a loyalty member get points. For example, by spending 1,000 IDR you get 1 points loyalty. Also, new member can get initial point reward when joining loyalty program\u003c/p\u003e\n\u003cp\u003e\n  \u003cb\u003eProgram Rewards\u003c/b\u003e\n\u003c/p\u003e\n\u003cp\u003eYou can get these following rewards configuration:\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003e% discount on total sale. You will get % price cut based on total calculation of a transaction.\u003c/li\u003e\n  \u003cli\u003eRp discount on total sale. You will get Rp discount based on total calculation of a transaction.\u003c/li\u003e\n  \u003cli\u003e% discount on specific item. You will get % price cut of a item.\u003c/li\u003e\n\u003c/ol\u003e\n\u003cp\u003e\n  \u003cb\u003eCustomer validation code\u003c/b\u003e\n  \u003cp\u003eValidate customer phone number by sending validation code\u003c/p\u003e\n\u003c/p\u003e\n"},{"name":"Advanced Orderings","description":"\u003cp\u003eAdvanced orderings is an API that forwards the data to our mobile application. Using this API, 3rd party app can create a checkout using Moka\u003c/p\u003e\n\u003cp\u003eThere are various 3rd party which can consume this API, for example food delivery app and e-commerce.\u003c/p\u003e\n\u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/business-flow.png' height='500'/\u003e\n\u003cp\u003eThe diagram can be described as follows:\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003e3rd party app create order using Moka external API\u003c/li\u003e\n  \u003cli\u003eMoka system will forward the data into Moka mobile\u003c/li\u003e\n  \u003cli\u003eCashier will decide whether the order can be fulfilled or not. If the order can be fulfilled, the cashier will \u003cb\u003eaccept order\u003c/b\u003e. If it is not, the cashier will \u003cb\u003ecancel order\u003c/b\u003e.\u003c/li\u003e\n  \u003cli\u003eDepending on situation, Moka will give notification either `accept order` or `cancel order`\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003eIf you are food delivery\u003c/b\u003e, you can start searching for driver. Invoke Moka API for sending the driver data to Moka. The data will be forwarded to Moka app\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003eIf you are e-commerce\u003c/b\u003e, cashier will give data about the expedition number. Moka will send notification regarding expedition data to 3rd party app\u003c/li\u003e\n  \u003cli\u003eCashier will complete order. With this operation, the order data will be treated as Moka's checkout data (It will deduct inventory data of merchant and add transaction in Moka's dashboard). Also,\n          3rd party app will be notified.\u003c/li\u003e\n\u003c/ol\u003e\n\u003ch2\u003eCallbacks\u003c/h2\u003e\n\u003cp\u003eMoka will notify 3rd party app when there is some operation related to advanced ordering\u003c/p\u003e\n\u003ctable\u003e\n  \u003ctr\u003e\n    \u003cth\u003eEvent\u003c/th\u003e\n    \u003cth\u003eDescription\u003c/th\u003e\n    \u003cth style='min-width: 50%'\u003eExample Body\u003c/th\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eAccept Order\u003c/td\u003e\n    \u003ctd\u003eThe cashier accept the order, and decided to fulfill the order.\u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"status\": \"accepted\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eComplete Order\u003c/td\u003e\n    \u003ctd\u003eThe cashier complete the order\u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"status\": \"completed\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eCancel Order\u003c/td\u003e\n    \u003ctd\u003e\n      The cashier cancel the order. \n      \u003cbr\u003e\u003c/br\u003e\n      \u003cbr\u003eNote: Any order cancelled by cashier, its status will be changed into \"rejected\"\u003c/br\u003e\n    \u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"status\": \"rejected\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eUpdate Expedition Order\u003c/td\u003e\n    \u003ctd\u003eThe cashier input the expedition\u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"name\": \"MokaExpress\",\u003cbr/\u003e\n          \"airway_bill_number\": \"AMG-123456\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n\u003c/table\u003e\n\u003ch3\u003eStep-by-Step Guide to Integrate Utilizing Advanced Orderings API\u003c/h3\u003e\n\u003cp\u003ePlease refer to Advanced Orderings \u003ca target=\"_blank\" href='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/documents/Advanced+Ordering+-+Getting+Started.pdf'\u003eGetting Started\u003c/a\u003e doc to learn more about the requirements for the integration process.\u003c/p\u003e\n"},{"name":"Oauth","description":"\u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/auth-flow.png' height='400'/\u003e\n\u003cp\u003eThe flows is described as follows:\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003eThe owner of business (which uses Moka) open the \u003cb\u003eApp Market\u003c/b\u003e\u003c/li\u003e\n  \u003cli\u003eThe owner see list of apps available in Moka\u003c/li\u003e\n  \u003cli\u003eThe user click \u003cb\u003eget started\u003c/b\u003e to authorize the application\u003c/li\u003e\n  \u003cli\u003eThe backoffice redirect the user to the \u003cb\u003eauthorization page\u003c/b\u003e\u003c/li\u003e\n  \u003cli\u003eThe \u003cb\u003eauthorization\u003c/b\u003e page shows modal to owner\u003c/li\u003e\n  \u003cli\u003eThe owner then click allow if they permit the requested permissions.\u003c/li\u003e\n  \u003cli\u003eThe owner will be redirected to the 3rd party application, with the temporary grant token named `code` as query parameter. At this point, owner will access page in 3rd party app.\u003c/li\u003e\n  \u003cli\u003e3rd party app need to exchange temporary token `code` into access token, using the `/oauth/token` API\u003c/li\u003e\n  \u003cli\u003eMoka server will return access token that can be used by 3rd party app to fetch data\u003c/li\u003e\n  \u003cli\u003e3rd party app can start to access the API\u003c/li\u003e\n\u003c/ol\u003e\n"},{"name":"Checkout API","description":"\u003cp\u003eCheckout API is an API that allows merchants to send the transaction data from external source to Moka’s Backoffice.\u003c/p\u003e \u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/checkout_api_flow.png' height='100'/\u003e \u003cp\u003eIf the transaction includes discounted item, there are some restrictions to follow:\u003c/p\u003e \u003col\u003e \u003cli\u003eIf it is a \u003cb\u003ecash discount\u003c/b\u003e, the information should be passed in the discount block\u003c/li\u003e \u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/discount_cash_white.png' height='200'/\u003e \u003c/li\u003e \u003cli\u003eIf it is a \u003cb\u003epercentage discount\u003c/b\u003e, the information should be passed in the item block based on the item that contains the discount\u003c/li\u003e \u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/discount_percentage_white.png' height='200'/\u003e \u003c/ol\u003e"},{"name":"Modification","description":"\u003cp\u003eAPI for modification are API that allows merchants to supdate data to Moka’s Backoffice.\u003c/p\u003e"}],"x-tagGroups":[{"name":"Introduction","tags":["Getting Started","Types of Moka Apps","Authentication","Changelog"]},{"name":"Oauth","tags":["Oauth","Subscription"]},{"name":"Checkout","tags":["Advanced Orderings","Checkout API"]},{"name":"Modification","tags":["Item Adjustment"]},{"name":"Get Merchant Profile","tags":["Business","Customers","Loyalties","Outlet","Users","Quota"]},{"name":"Read Library","tags":["Categories","Discounts","Favorites","Gratuities","Items","Modifiers","Taxes","Purchase Order","Sales Type","Promos","Bundle Package"]},{"name":"Read Ingredient","tags":["Ingredient Categories","Ingredient Library"]},{"name":"Read Inventory","tags":["Item Summaries"]},{"name":"Read Transaction","tags":["Invoices","Latest Transaction","Transaction","Sync Bills"]},{"name":"Get Reports","tags":["Category Sales","Collector Sales","Modifier Sales","Discount Sales","Tax Sales","Gratuity Sales","Server Sales","Item Sales","Sales summary","Payment Methods"]}],"paths":{},"definitions":{"MetadataProperty":{"type":"object","properties":{"code":{"type":"integer","example":200},"errors":{"type":"object"}}},"Order":{"type":"object","required":true,"properties":{"customer_name":{"type":"string","example":"Vincent","description":"Customer name. Limited to 50 characters"},"customer_phone_number":{"type":"string","example":"0857113103287","description":"Customer phone number. Limited to 13 digits"},"customer_address_detail":{"type":"string","example":"Jalan Gatot Subroto No.45","description":"Customer address detail."},"customer_province":{"type":"string","example":"DKI Jakarta","description":"Customer province"},"customer_city":{"type":"string","example":"Jakarta Barat","description":"Customer city"},"customer_kecamatan":{"type":"string","example":"Palmerah","description":"Customer kecamatan"},"customer_postal_code":{"type":"string","example":"11480","description":"Customer postal code. Fill with 5 digits number"},"sales_type_id":{"type":"number","example":12,"description":"(Optional) Sales type ID. This must match to Moka sales type ID. Note that for several third parties, this field is mandatory"},"sales_type_name":{"type":"string","example":"XFoodApp","description":"(Optional) Sales type name. Limited to 25 characters. Note that for several third parties, this field is mandatory"},"client_created_at":{"type":"string","example":"2019-05-23T14:00:00+07:00","description":"(Optional) When the order is created from third party service"},"application_order_id":{"type":"string","example":"IOS-123456","description":"Order ID given from the third party application. Different from Moka's internal Order ID","required":true},"payment_type":{"type":"string","example":"grabfood","description":"Payment type used in the online order. Please contact Moka to add your own payment type","required":true},"note":{"type":"string","example":"Rumahnya di sebelah tukang jamu","description":"Order notes. Max length is 255 characters. Can be empty string"},"complete_order_notification_url":{"type":"string","example":"https://e-commerce.com/orders/123/moka/complete-callback","description":"Callback notification URL when the order is completed"},"accept_order_notification_url":{"type":"string","example":"https://e-commerce.com/orders/123/moka/accept-callback","description":"Callback notification URL when the order is accepted"},"cancel_order_notification_url":{"type":"string","example":"https://e-commerce.com/orders/123/moka/cancel-callback","description":"Callback notification URL when the order is cancelled"},"assign_expedition_notification_url":{"type":"string","example":"https://e-commerce.com/orders/123/moka/expedtion-callback","description":"Callback notification URL when the order is made from an expedition company"},"discount_id":{"type":"number","example":1,"description":"Moka's item discount ID"},"discount_type":{"type":"string","example":"percentage","description":"Moka's item discount type (cash or percentage)"},"discount_amount":{"type":"number","example":"10","description":"Moka's item discount amount"},"discount_guid":{"type":"string","example":"1234-1234-1234-1234","description":"Moka's item discount GUID"},"discount_name":{"type":"string","example":"promo","description":"Moka's item discount name"},"order_items":{"type":"array","items":{"$ref":"#/definitions/OrderItem"}}}},"OrderItem":{"type":"object","properties":{"item_id":{"type":"integer","description":"Moka's item ID","example":1,"required":true},"item_name":{"type":"string","description":"Moka's item name","example":"American Favourite","required":true},"quantity":{"type":"number","description":"Number of items purchased","example":5,"required":true},"item_variant_id":{"type":"integer","description":"Moka's item variant ID","example":10},"item_variant_name":{"type":"string","description":"Moka's item variant name","example":"Small"},"note":{"type":"string","example":"Sausnya dipisah","description":"Item notes. Max length is 255 characters. Can be empty string"},"item_price_library":{"type":"number","description":"The price per item","example":30000,"required":true},"category_id":{"type":"number","description":"Moka's category id for item","example":123,"required":true},"category_name":{"type":"string","description":"Moka's category name for item","example":"Uncategorized"},"item_discount_id":{"type":"number","description":"Moka's item discount ID","example":777},"item_discount_type":{"type":"string","description":"Moka's item discount type (cash or percentage)","example":"percentage"},"item_discount_amount":{"type":"string","description":"Moka's item discount amount","example":10},"item_discount_guid":{"type":"string","description":"Moka's item discount GUID","example":"1234-5678-1234-5678"},"item_discount_name":{"type":"string","description":"Moka's item discount name","example":"promo"},"item_modifiers":{"type":"array","items":{"$ref":"#/definitions/OrderItemModifier"}}}},"OrderItemModifier":{"type":"object","properties":{"item_modifier_id":{"type":"number","example":123,"description":"Moka's item modifier id (modifier category)"},"item_modifier_name":{"type":"string","example":"kecap manis","description":"Moka's item modifier name"},"item_modifier_option_id":{"type":"number","example":17873,"description":"Moka's item modifier option id"},"item_modifier_option_name":{"type":"string","example":"karOption","description":"Moka's item modifier option name"},"item_modifier_option_price":{"type":"number","example":10000,"description":"Moka's item modifier option price"}}},"OrderDriver":{"type":"object","properties":{"name":{"type":"string","example":"Yayan","description":"The driver's name"},"license_plate":{"type":"string","example":"B 1234 MK","description":"The driver's license number plate"},"phone_number":{"type":"number","example":"085712345678","description":"The driver's phone number"}}},"CancelOrder":{"type":"object","required":true,"properties":{"cancel_reason":{"type":"string","example":"DRIVER#cancel reason","description":"Reason for order cancellation that will be displayed in the MokaPOS apps. The format is in the form of \"[Cancel Tag]#[Cancel Reason]\", where [Cancel Tag] is the party that cancelled the order and [Cancel Reason] is the cancellation reason. You can either use \"DRIVER\" or \"CUSTOMER\" for [Cancel Tag].","required":true}}},"Category":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"business_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"uniq_id":{"type":"string"},"synchronized_at":{"type":"string"}}},"Discount":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"number"},"type":{"type":"enum","enum":["percentage","cash"]},"business_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"uniq_id":{"type":"string"},"synchronized_at":{"type":"string"},"amount_format":{"type":"string"}}},"Favorite":{"properties":{"id":{"type":"integer"},"business_id":{"type":"integer"},"item_id":{"type":"integer"},"location_x":{"type":"integer"},"location_y":{"type":"integer"},"favorite_type":{"type":"string"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"uniq_id":{"type":"string"},"synchronized_at":{"type":"string"}}},"Gratuity":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"number"},"business_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"uniq_id":{"type":"string"},"synchronized_at":{"type":"string"},"deleted_at":{"type":"string"}}},"Ingredient":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"image":{"type":"object","properties":{"url":{"type":"string"}}},"business_id":{"type":"integer"},"outlet_id":{"type":"integer"},"ingredient_category_id":{"type":"integer"},"category_name":{"type":"string"},"unit_name":{"type":"string"},"in_stock":{"type":"integer"},"alert":{"type":"boolean"},"ingredient_status":{"type":"string"},"stock_alert":{"type":"integer"},"track_cogs":{"type":"boolean"},"cogs":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"synchronized_at":{"type":"string"}}},"IngredientCategory":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"business_id":{"type":"integer"},"outlet_id":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"synchronized_at":{"type":"string"}}},"Item":{},"ItemVariant":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"sku":{"type":"string"},"price":{"type":"integer"},"in_stock":{"type":"integer"},"stock_alert":{"type":"integer"},"position":{"type":"integer"},"item_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"add_inventory":{"type":"integer"},"track_stock":{"type":"boolean"},"is_saved":{"type":"boolean"}}},"ItemModifier":{"properties":{"id":{"type":"integer"},"item_id":{"type":"integer"},"modifier_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"synchronized_at":{"type":"string"}}},"Modifier":{"properties":{"id":{"type":"integer"},"business_id":{"type":"integer"},"name":{"type":"string"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"uniq_id":{"type":"string"},"synchronized_at":{"type":"string"}}},"ModifierOption":{"properties":{"id":{"type":"integer"},"modifier_id":{"type":"integer"},"name":{"type":"string"},"price":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"position":{"type":"integer"},"cogs":{"type":"integer"},"outlet_id":{"type":"integer"},"synchronized_at":{"type":"string"},"guid":{"type":"string"},"uniq_id":{"type":"string"}}},"Tax":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"number"},"business_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"uniq_id":{"type":"string"},"synchronized_at":{"type":"string"}}},"CheckoutApi":{"type":"object","required":true,"properties":{"checkout":{"type":"object","required":true,"properties":{"note":{"type":"string","example":"cash","description":"Note containing payment type","required":true},"include_tax_and_gratuity":{"type":"boolean","example":"false","description":"(Optional) Indicate tax and gratuity already included in price"},"enable_tax":{"type":"boolean","example":"fale","description":"(Optional) To include total tax to calculation"},"enable_gratuity":{"type":"boolean","example":"false","description":"(Optional) To include total gratuity to calculation"},"client_created_at":{"type":"string","example":"2019-07-09T14:22:00.000+07:00","description":"Time of transaction","required":true},"total_gross_sales":{"type":"integer","example":"10000","description":"Gross price of an item, exclude discount, tax and gratuity","required":true},"total_discount":{"type":"integer","example":"100","description":"(Optional) Total discounts from each items"},"total_gratuity":{"type":"integer","example":"100","description":"(Optional) Total gratuities from each items"},"total_tax":{"type":"integer","example":"10","description":"(Optional) Total taxes from each items"},"total_net_sales":{"type":"integer","example":"900","description":"Net price for all items","required":true},"total_collected":{"type":"number","example":1800,"description":"Grand total amount","required":true},"amount_pay":{"type":"number","example":1800,"description":"Amount paid by customer","required":true},"items":{"type":"array","items":{"$ref":"#/definitions/CheckoutApiItem"}},"gratuities":{"type":"array","items":{"$ref":"#/definitions/CheckoutApiGratuity"}},"taxes":{"type":"array","items":{"$ref":"#/definitions/CheckoutApiTax"}},"discounts":{"type":"array","items":{"$ref":"#/definitions/CheckoutApiDiscount"}}}}}},"CheckoutApiItem":{"type":"object","properties":{"quantity":{"type":"integer","description":"Item quantity","example":1,"required":true},"item_id":{"type":"integer","description":"Moka's item ID","example":1,"required":true},"item_name":{"type":"string","description":"Item Name","example":"Ice cream","required":true},"item_variant_id":{"type":"integer","description":"Moka's item variant ID","example":1,"required":true},"item_variant_name":{"type":"string","description":"Item variant name","example":"large","required":true},"item_variant_sku":{"type":"string","description":"Item SKU","example":"ICE-1234"},"sales_type_id":{"type":"integer","description":"Item sales type ID","example":130449},"sales_type_name":{"type":"string","description":"Item sales type name","example":"GoFood"},"category_id":{"type":"integer","description":"Moka's category ID","example":1,"required":true},"category_name":{"type":"string","description":"Item category name","example":"Desert","required":true},"client_price":{"type":"integer","description":"Item price","example":10000},"discount_amount":{"type":"integer","description":"Disocunt amount in cash","example":100},"tax":{"type":"integer","description":"Tax amount in cash","example":10},"gratuity":{"type":"integer","description":"Gratuity amount in cash","example":10},"gross_sales":{"type":"integer","description":"Gross sales amount","example":10000,"required":true},"net_sales":{"type":"integer","description":"Net sales amount","example":900,"required":true},"modifiers":{"type":"array","items":{"$ref":"#/definitions/CheckoutApiItemModifier"}}}},"CheckoutApiItemModifier":{"type":"object","properties":{"modifier_id":{"type":"integer","description":"Moka's item modifier ID","example":1},"modifier_option_id":{"type":"double","description":"Moka's item modifier option ID","example":10.0},"modifier_name":{"type":"string","description":"Modifier Name","example":"Topping"},"modifier_option_name":{"type":"string","description":"Modifier Option Name","example":"Mozarella"},"modifier_option_price":{"type":"integer","description":"Modifier Option Price","example":8000},"modifier_discounts":{"type":"array","items":{"$ref":"#/definitions/CheckoutApiItemModifierDiscount"}},"discount_amount":{"type":"double","description":"Discount Amount","example":1000.0},"gross_sales":{"type":"double","description":"Gross Sales","example":180000.0},"net_sales":{"type":"double","description":"Net Sales","example":165000.0},"redeem_amount":{"type":"double","description":"Redeem Amount","example":0.0}}},"CheckoutApiItemModifierDiscount":{"type":"object","properties":{"discount_amount":{"type":"double","description":"Discount Amount","example":1000.0},"discount_cash":{"type":"double","description":"Discount Cash","example":1000.0},"discount_id":{"type":"integer","description":"Discount ID","example":1},"discount_name":{"type":"string","description":"Discount Name","example":"New Years Discount"},"discount_percentage":{"type":"double","description":"Discount percentage","example":10.0},"discount_type":{"type":"string","description":"Discount Type","example":"percentage"},"discount_guid":{"type":"string","description":"Discount GUID","example":"d8359ece-5841-44a0-96f0-ebeb3b71ff25"}}},"CheckoutApiGratuity":{"type":"object","properties":{"gratuity_id":{"type":"integer","description":"Moka's gratuity ID","example":1,"required":true},"gratuity_name":{"type":"string","description":"Gratuity name","example":"American Favourite","required":true},"gratuity_percentage":{"type":"integer","description":"Gratuity percentage amount. Optional with gratuity_amount.","example":12,"required":true},"gratuity_amount":{"type":"integer","description":"Gratuity cash amount. Calculation with item price.","example":12000,"required":true}}},"CheckoutApiDiscount":{"type":"object","properties":{"discount_id":{"type":"integer","description":"Moka's discount ID","example":1,"required":true},"discount_name":{"type":"string","description":"Discount name","example":"Promo 10","required":true},"discount_type":{"type":"number","description":"Discount type (cash or percentage)","example":"cash","required":true},"discount_cash":{"type":"integer","description":"Discount amount in cash if type is cash, otherwise fill 0 or null","example":1000,"required":true},"discount_amount":{"type":"integer","description":"Discount amount in cash. Calculation with item price","example":1000,"required":true},"discount_percentage":{"type":"number","description":"Discount amount in percent","example":5,"required":true}}},"CheckoutApiTax":{"type":"object","properties":{"tax_id":{"type":"integer","description":"Moka's tax ID","example":1,"required":true},"tax_name":{"type":"string","description":"Tax name","example":"American Favourite","required":true},"tax_percentage":{"type":"number","description":"Tax percentage amount. Optional with taxable_amount.","example":5,"required":true},"taxable_amount":{"type":"integer","description":"Tax cash amount. Optional with tax_percentage.","example":10,"required":true},"tax_amount":{"type":"integer","description":"Tax cash amount. Calulation with item price","example":10,"required":true}}},"ItemAdjustmentApi":{"type":"object","required":true,"properties":{"adjustment":{"type":"object","required":true,"properties":{"note":{"type":"string","example":"buy stock","description":"Note of this item adjustment","required":true},"history_details":{"type":"array","items":{"$ref":"#/definitions/HistoryDetailItemAdjustment"}}}}}},"HistoryDetailItemAdjustment":{"type":"object","properties":{"item_id":{"type":"integer","description":"Moka's Item ID","example":1,"required":true},"item_variant_id":{"type":"integer","description":"Moka's Item variant ID","example":10,"required":true},"actual_stock":{"type":"integer","description":"Actual value, cannot be negative","example":10,"required":true}}},"ItemSummary":{"properties":{"beginning":{"type":"integer"},"purchase_order":{"type":"integer"},"sales":{"type":"integer"},"transfer":{"type":"integer"},"adjustment":{"type":"integer"},"ending":{"type":"integer"},"item_variant_name":{"type":"integer"}}},"SalesType":{"type":"object","required":true,"properties":{"sales_type_name":{"type":"string","example":"GoFood","description":"Name of the sales type","required":true}}},"CreateItem":{"type":"object","required":true,"properties":{"item":{"type":"object","required":true,"properties":{"name":{"type":"string","example":"Nasi Goreng","description":"Product name","required":true},"image":{"type":"object","description":"POS image data","properties":{"url":{"type":"string","example":"https://al-ms-id-s-file-public.oss-ap-southeast-5.aliyuncs.com/inventory/32459/611194/image-created-with-a-mobile-phone-b27f8f30.png","description":"Image URL after successfully upload POS image"},"id":{"type":"integer","example":"123456","description":"Image ID after successfully upload POS image"},"width":{"type":"integer","example":"500","description":"Image Width (in px)"},"height":{"type":"integer","example":"500","description":"Image Height (in px)"}}},"description":{"type":"string","example":"Nasi Goreng dengan topping lengkap","description":"Product Description","required":true},"category_id":{"type":"integer","example":"123","description":"Item's category id","required":true},"brand_id":{"type":"integer","example":"123","description":"(Required if is_ecommerce true) Item's brand id"},"is_ecommerce":{"type":"boolean","example":true,"description":"(Optional) Ecommerce option provide you with ability for MOKA ORDER SELF PICKUP \u0026 DELIVERY "},"condition":{"type":"string","example":"refurbished","description":"(Required if is_ecommerce true) Product condition. Values available are: new, used, refurbished."},"weight":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's weight in gr"},"height":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's height in cm"},"width":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's width in cm"},"length":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's length in cm"},"item_variants":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Merah","description":"Item's color","required":true},"sku":{"type":"string","example":"1123","description":"Item stock keeping unit","required":true},"in_stock":{"type":"integer","example":"1123","description":"Item stock"},"track_stock":{"type":"boolean","example":false,"description":"Enable track item stock"},"cogs":{"type":"integer","example":"1123","description":"Item cogs"},"track_cogs":{"type":"boolean","example":false,"description":"Enable track item cogs"},"price":{"type":"integer","example":"1123","description":"(Required if is_sales_type_price false) Item price"},"sales_type_items":{"type":"object","properties":{"sales_type_id":{"type":"integer","example":"1233","description":"Sales type id"},"sales_type_price":{"type":"integer","example":"100000","description":"Sales type price"},"sales_type_name":{"type":"string","example":"SampleName","description":"Sales type name"}}}}}},"is_sales_type_price":{"type":"boolean","example":false,"description":"Is using multiple sales type price","required":true},"images":{"type":"array","description":"Images data if using ecommerce option","items":{"type":"object","properties":{"raw_image_id":{"type":"integer","example":"12345667","description":"Ecommerce Image ID after successfully upload the image"},"url":{"type":"string","example":"https://al-ms-id-s-file-public.oss-ap-southeast-5.aliyuncs.com/inventory/32459/611194/image-created-with-a-mobile-phone-b27f8f30.png","description":"Ecommerce Image URL after successfully upload POS image"}}}},"pre_order_days":{"type":"integer","example":7,"description":"(Optional) Set preorder days if there's one "}}}}},"UpdateItem":{"type":"object","required":true,"properties":{"item":{"type":"object","required":true,"properties":{"name":{"type":"string","example":"Nasi Goreng","description":"Product name","required":true},"image":{"type":"object","description":"POS image data","properties":{"url":{"type":"string","example":"https://al-ms-id-s-file-public.oss-ap-southeast-5.aliyuncs.com/inventory/32459/611194/image-created-with-a-mobile-phone-b27f8f30.png","description":"Image URL after successfully upload POS image"},"id":{"type":"integer","example":"123456","description":"Image ID after successfully upload POS image"},"width":{"type":"integer","example":"500","description":"Image Width (in px)"},"height":{"type":"integer","example":"500","description":"Image Height (in px)"}}},"description":{"type":"string","example":"Nasi Goreng dengan topping lengkap","description":"Product Description","required":true},"category_id":{"type":"integer","example":"123","description":"Item's category id","required":true},"brand_id":{"type":"integer","example":"123","description":"(Required if is_ecommerce true) Item's brand id"},"is_ecommerce":{"type":"boolean","example":true,"description":"(Optional) Ecommerce option provide you with ability for MOKA ORDER SELF PICKUP \u0026 DELIVERY "},"condition":{"type":"string","example":"refurbished","description":"(Required if is_ecommerce true) Product condition. Values available are: new, used, refurbished."},"weight":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's weight in gr"},"height":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's height in cm"},"width":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's width in cm"},"length":{"type":"string","example":"10.0","description":"(Required if is_ecommerce true) Item's length in cm"},"item_variants":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":"1123","description":"Item variant's ID","required":true},"name":{"type":"string","example":"Merah","description":"Item's color","required":true},"sku":{"type":"string","example":"1123","description":"Item stock keeping unit","required":true},"track_stock":{"type":"boolean","example":false,"description":"Enable track item stock"},"track_cogs":{"type":"boolean","example":false,"description":"Enable track item cogs"},"price":{"type":"integer","example":"1123","description":"(Required if is_sales_type_price false) Item price"},"sales_type_items":{"type":"object","properties":{"sales_type_id":{"type":"integer","example":"1233","description":"Sales type id"},"sales_type_price":{"type":"integer","example":"100000","description":"Sales type price"},"sales_type_name":{"type":"string","example":"SampleName","description":"Sales type name"}}}}}},"is_sales_type_price":{"type":"boolean","example":false,"description":"Is using multiple sales type price","required":true},"images":{"type":"array","description":"Upload image for ecommerce options.\n          You only need to forward `raw_image_id` if there's no new image uploaded. If you have a new image, you need to upload it first and also pass the `url`.\n          Please refer to the examples.\n\n          Note: The array order will determine the image ordering","items":{"type":"object","example":[{"raw_image_id":123123123},{"raw_image_id":123123124,"url":"https://al-ms-id-s-file-public.oss-ap-southeast-5.aliyuncs.com/inventory/32459/611194/image-created-with-a-mobile-phone-b27f8f30.png"}]}},"pre_order_days":{"type":"integer","example":7,"description":"(Optional) Set preorder days if there's one "}}}}},"UploadItemImage":{"type":"object","required":true,"properties":{"image_name":{"type":"string","example":"image-name.jpg","description":"Image file name"},"data":{"type":"string","example":"data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAApgAAAKYB3X3/OAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAANCSURBVEiJtZZPbBtFFMZ/M7ubXdtdb1xSFyeilBapySVU8h8OoFaooFSqiihIVIpQBKci6KEg9Q6H9kovIHoCIVQJJCKE1ENFjnAgcaSGC6rEnxBwA04Tx43t2FnvDAfjkNibxgHxnWb2e/u992bee7tCa00YFsffekFY+nUzFtjW0LrvjRXrCDIAaPLlW0nHL0SsZtVoaF98mLrx3pdhOqLtYPHChahZcYYO7KvPFxvRl5XPp1sN3adWiD1ZAqD6XYK1b/dvE5IWryTt2udLFedwc1+9kLp+vbbpoDh+6TklxBeAi9TL0taeWpdmZzQDry0AcO+jQ12RyohqqoYoo8RDwJrU+qXkjWtfi8Xxt58BdQuwQs9qC/afLwCw8tnQbqYAPsgxE1S6F3EAIXux2oQFKm0ihMsOF71dHYx+f3NND68ghCu1YIoePPQN1pGRABkJ6Bus96CutRZMydTl+TvuiRW1m3n0eDl0vRPcEysqdXn+jsQPsrHMquGeXEaY4Yk4wxWcY5V/9scqOMOVUFthatyTy8QyqwZ+kDURKoMWxNKr2EeqVKcTNOajqKoBgOE28U4tdQl5p5bwCw7BWquaZSzAPlwjlithJtp3pTImSqQRrb2Z8PHGigD4RZuNX6JYj6wj7O4TFLbCO/Mn/m8R+h6rYSUb3ekokRY6f/YukArN979jcW+V/S8g0eT/N3VN3kTqWbQ428m9/8k0P/1aIhF36PccEl6EhOcAUCrXKZXXWS3XKd2vc/TRBG9O5ELC17MmWubD2nKhUKZa26Ba2+D3P+4/MNCFwg59oWVeYhkzgN/JDR8deKBoD7Y+ljEjGZ0sosXVTvbc6RHirr2reNy1OXd6pJsQ+gqjk8VWFYmHrwBzW/n+uMPFiRwHB2I7ih8ciHFxIkd/3Omk5tCDV1t+2nNu5sxxpDFNx+huNhVT3/zMDz8usXC3ddaHBj1GHj/As08fwTS7Kt1HBTmyN29vdwAw+/wbwLVOJ3uAD1wi/dUH7Qei66PfyuRj4Ik9is+hglfbkbfR3cnZm7chlUWLdwmprtCohX4HUtlOcQjLYCu+fzGJH2QRKvP3UNz8bWk1qMxjGTOMThZ3kvgLI5AzFfo379UAAAAASUVORK5CYII=","description":"Base64 of images data"}}},"ItemImage":{"properties":{"raw_image_id":{"type":"string"},"raw_image_url":{"type":"string"}}},"ErrorModel":{"properties":{"data":{"type":"object"},"meta":{"type":"object","properties":{"code":{"type":"integer"},"error_message":{"type":"string"},"error_type":{"type":"string","description":"For internal debugging purpose. Please ignore this key"}}}}},"Business":{"description":"Current user business","properties":{"id":{"type":"integer","format":"int64","example":9},"name":{"type":"string","example":"MOKAPOS TEST CAFE 2"},"address":{"type":"string","example":"PIK"},"suite":{"type":"string","example":""},"city":{"type":"string","example":"Jakarta Barat"},"province":{"type":"string","example":"Jakarta"},"postal_code":{"type":"string","example":"12904"},"description":{"type":"string","example":"Just for test"},"email":{"type":"string","example":""},"phone":{"type":"string","example":"082145466567"},"logo":{"type":"string","example":""},"notify_per_deposit":{"type":"boolean"},"notify_per_trans":{"type":"boolean"},"user_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"business_type_id":{"type":"integer","example":3},"business_category_id":{"type":"integer","example":3},"website":{"type":"string"},"twitter":{"type":"string"},"facebook":{"type":"string"},"instagram":{"type":"string"},"notes":{"type":"string"},"latitude":{"type":"double"},"longitude":{"type":"double"},"synchronized_at":{"type":"string"},"outlet_slot":{"type":"integer","example":12},"is_trial":{"type":"boolean"},"current_plan":{"type":"integer","example":12},"expired_at":{"type":"string","example":"2019-01-01T07:00:00.000+07:00"},"last_payment_date":{"type":"string"},"trial_end_at":{"type":"string"}}},"Outlet":{"properties":{"id":{"type":"integer","format":"int64","description":"Outlet ID"},"business_id":{"type":"integer","format":"int64"},"name":{"type":"string"},"address":{"type":"string"},"phone_number":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"postal_code":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"synchronized_at":{"type":"string"},"importing":{"type":"boolean"},"exporting":{"type":"boolean"},"notes":{"type":"string"},"start_date":{"type":"string"},"end_date":{"type":"string"},"is_paying":{"type":"boolean"}}},"Payment":{"properties":{"id":{"type":"integer"},"status":{"type":"string"},"payment_no":{"type":"I7I91H"},"payment_type":{"type":"string"},"amount_pay":{"type":"number"},"amount_change":{"type":"number"},"total_discount_amount":{"type":"number"},"total_gratuity_amount":{"type":"number"},"total_item_price_amount":{"type":"number"},"total_tax_amount":{"type":"number"},"total_checkouts_amount":{"type":"number"},"is_refunded":{"type":"boolean"},"refunded_reason":{"type":"string"},"refunded_date":{"type":"string"},"business_id":{"type":"integer"},"customer_id":{"type":"integer"},"discount_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"total_custom_price_amount":{"type":"number"},"include_gratuity_tax":{"type":"boolean"},"parent_payment_id":{"type":"integer"},"refund_amount":{"type":"number"},"refund_type":{"type":"string"},"card_no":{"type":"string"},"created_by":{"type":"integer"},"note":{"type":"string"},"total_collected_amount":{"type":"number"},"server_id":{"type":"integer"},"server_name":{"type":"string"},"server_title":{"type":"string"},"auth_code":{"type":"string"},"cc_name":{"type":"string"},"card_type":{"type":"string"},"transaction_number":{"type":"string"},"transaction_reference":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"synchronized_at":{"type":"string"},"uniq_id":{"type":"string"},"transaction_certificate":{"type":"string"},"transaction_status_info":{"type":"string"},"merchant_id":{"type":"string"},"mpos_device_id":{"type":"string"},"pg_mid":{"type":"string"},"pg_setting":{"type":"string"},"order_info":{"type":"string"},"tvr":{"type":"string"},"cvm_result":{"type":"string"},"aid":{"type":"string"},"transaction_date":{"type":"string"},"pii":{"type":"string"},"collected_by":{"type":"string"},"shift_id":{"type":"integer"},"invoice_no":{"type":"string"},"invoice_deposit_amount":{"type":"integer"},"invoice_due_date":{"type":"string"},"invoice_status":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"refund_ids":{"type":"string"},"total_gross_sales":{"type":"number"},"total_net_sales":{"type":"number"},"is_refund_breakdown":{"type":"boolean"},"customer_name":{"type":"string"},"customer_email":{"type":"string"},"customer_phone":{"type":"string"},"subtotal":{"type":"number"},"creator_name":{"type":"string"},"table_name":{"type":"string"},"collector_id":{"type":"integer"},"cashlezz_transaction_id":{"type":"string"},"sms_id":{"type":"string"},"receipt_count":{"type":"integer"},"order_id":{"type":"string"},"is_loyalty":{"type":"boolean"},"total_redeem_amount":{"type":"number"},"is_offline":{"type":"boolean"},"is_sales_type":{"type":"boolean"},"server_created_at":{"type":"string"},"total_rounding_amount":{"type":"number","description":"Total rounding amount from a payment. If null then the rounding is not applied in the transaction"}}},"PaymentDiscount":{"type":"object","description":"Discount applied to payment","properties":{"id":{"type":"integer"},"payment_id":{"type":"integer"},"discount_id":{"type":"integer"},"discount_amount":{"type":"number"},"discount_name":{"type":"string"},"discount_type":{"type":"string"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"discount_cash":{"type":"number"}}},"PaymentGratuity":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"number"},"total":{"type":"number"},"payment_id":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"gratuity_id":{"type":"string"}}},"PaymentRecord":{"type":"object"},"PaymentTax":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"integer"},"total":{"type":"number"},"taxable_amount":{"type":"number"},"payment_id":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"tax_id":{"type":"integer"}}}}}
    